* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }

  main {
    display: flex;
    position: relative;
  }

 header {
    width: auto;
    height: 12vh;
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
  }

  a{
    text-decoration: none;
    color: white;
  }

.videos{
      width: 350px;
      height: 200px;
      align-self: center;
      justify-content: center;
      margin: 12px;;
  }
  
  .encabezado a{
    position: relative;
    left: 8px;
  }

.logo {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px;
    position: relative;
    left: 12px;
  }

  #burguer{
    position: absolute;
    top: 2.7rem;
    right: 1rem;
    cursor: pointer;
    z-index: 10;
  }

  #burguer .barra{
    width: 30px;
    height: 2px;
    margin: 6px;
    background-color: rgb(255, 255, 255);
    transition: all 700ms ease-in-out;
  }

  #burguer.abierto .barra{
    background-color: red;
  }

  #burguer.abierto .barra.superior{
    transform: translateY(8px) rotateZ(45deg);
  }

  #burguer.abierto .barra.media{
    width: 0;
  }

  #burguer.abierto .barra.inferior{
    transform: translateY(-8px) rotateZ(-45deg);
  }

.section-header {
    width: 600px;
    height: 100%;
    color: white;
    display: flex;
    font-size: 1.65rem;
    font-family: 'Bebas Neue', cursive;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.section-header li {
    padding: 2px;
    margin: 8px ;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: column;
    bottom: 200px;
    transition: all 700ms ease-in-out;
  }

  .section-header.abierto li{
    bottom: 0px;
  }

  .nav_4 a{
    margin-right: 60px;
  }

.columna__trailers {
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.836);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    min-width: 300px;
}

.trailer__1 img {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 200px;
  border: 5px white solid;
   
}

.trailer__2 img {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 200px;
  border: 5px white solid;
}

.trailer__3 {
    width: 350px;
    height: 55px;
    border: 1px white solid;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20, 0.836);
    margin-bottom: 18px;
}

.trailer__3 h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    color:white;
    position: relative;
}

.reproductor iframe{
    width: 100%;
    height: 88vh;
    display: none;
}


@media (min-width: 768px){

  main{
    display: flex;
  }
  .section-rep{
    width: 100%;
    flex-grow: 2;
}

.reproductor iframe{
    display: flex;
}

    .section-header {
        width:100vw;
        height: 100%;
        color: white;
        display: flex;
        font-size: 18px;
        font-family: 'Bebas Neue', cursive;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
    }

    .section-header li {
        padding: 8px;
        margin: 8px 24px;
        list-style: none;
        display: inline-flex;
        flex-wrap: wrap;
        position: relative;
        flex-direction: column;
      }    

    .columna__trailers {
        width: 100%;
        height: 78vh;
        background-color: rgba(20, 20, 20, 0.836);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        top: 626px ;
        padding: 10px;
        flex-grow: 1;
    }

    .trailer__3 {
      flex-grow: 2;
      align-self: center;
      justify-self: center;
      max-width: 725px;
  }

  
}

@media (min-width: 1024px){
    .section-rep{
        width: 100%;
    }

    .reproductor iframe{
        display: block;
    }

    .columna__trailers {
        width: 30%;
        height: 88vh;
        background-color: rgba(20, 20, 20, 0.836);
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        overflow-y: scroll;
        position: relative;
        bottom: 0;
        top: 0;
    }

    .videos{
      max-width: 99%;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #b0b0b0;
        background-clip: padding-box;
        border: 0.05em solid #eeeeee;
        border-radius: 4px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: #e2dede;
      }
      /* Buttons */
      ::-webkit-scrollbar-button:single-button {
        background-color: #bbbbbb;
        display: block;
        border-style: solid;
        height: 13px;
        width: 16px;
      }
      /* Up */
      ::-webkit-scrollbar-button:single-button:vertical:decrement {
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent #555555 transparent;
      }
      
      ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
        border-color: transparent transparent #3b3b3b transparent;
      }
      /* Down */
      ::-webkit-scrollbar-button:single-button:vertical:increment {
        border-width: 8px 8px 0 8px;
        border-color: #555555 transparent transparent transparent;
      }
      
      ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
        border-color: #3b3b3b transparent transparent transparent;
      }

    .columna__trailers::-webkit-scrollbar{
        background-color:rgb(27, 27, 27);
        border-radius: 10px;
        border: 1px solid rgb(41, 41, 41);
    }
    
    .trailer__3{
        width: 250px;;
        top: 0;
        right: 0;
    }

    .trailer__3_1{
        display: none;
    }
}